COMPOSE_PROJECT_NAME=sport-point

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB_AUTH=authdb
POSTGRES_DB_PROFILE=profiledb
POSTGRES_DB_EVENT=eventdb
POSTGRES_DB_SUBSCRIPTION=subscriptiondb

# JWT
JWT_KEY=my-super-secret-test-key-for-jwt
JWT_EXPIRATION=43200000

# Kafka
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk

# RustFS
RUSTFS_ACCESS_KEY=rustfsadmin
RUSTFS_SECRET_KEY=rustfsadmin
RUSTFS_BUCKET_NAME=avatars

# JPA
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=false

# Outbox
OUTBOX_SEND_DELAY_MS=1000
OUTBOX_BATCH_SIZE=10
OUTBOX_MAX_ATTEMPT=5
OUTBOX_ATTEMPT_DELAY_SEC=3600

# Crones
OUTBOX_DELETE_CRON=0 */1 * * * *
EVENT_DELETE_CRON=0 */1 * * * *