# Maven
target/*
!target/*-SNAPSHOT.jar
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Git
.git/
.gitignore
.gitattributes

# Логи
*.log
logs/

# Docker
Dockerfile
.dockerignore
docker-compose*.yml

# Devcontainer
.devcontainer/